.card-group {
  display: flex;
  margin: 2rem;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-body-projects {
  justify-content: center;
  border: 1px solid #8fbc8f;
  height: 20rem;
  border-radius: 50px;
  background-color: transparent;
}
