.social-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 9999;
}

.social-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out;
}

.social-container a:hover {
  background-color: #0e639c;
}

/* Small devices */
@media (min-width: 375px) {
  .social-container {
    top: 50px;
    right: 150px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 2000px) {
  .social-container {
    top: 80px;
    right: 80px;
  }
}
